name: Release
on:
  push:
    branches:
      - main
concurrency: ${{ github.workflow }}-${{ github.ref }}
permissions: { }
env:
  dotnet: 9.0.x
  Project: src/Serilog.Extensions.Formatting
  PackageJson: src/Serilog.Extensions.Formatting/package.json
  Csproj: src/Serilog.Extensions.Formatting/Serilog.Extensions.Formatting.csproj
  PackageName: alexaka1.serilog.extensions.formatting
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
jobs:
  tests:
    name: Tests
    uses: ./.github/workflows/tests.yml
    permissions:
      contents: read
      pull-requests: write
  check-release:
    name: Prepare release
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write
      contents: write
      issues: read
      id-token: write
      attestations: write
    outputs:
      publishable: ${{ steps.pack.outputs.canPack == 'true'}}
      version: ${{ steps.pack.outputs.version }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            aka.ms:443
            api.github.com:443
            api.nuget.org:443
            cdn.fwupd.org:443
            crl3.digicert.com:80
            dotnetbuilds.azureedge.net:443
            dotnetcli.azureedge.net:443
            dc.services.visualstudio.com:443
            github.com:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
            *.sigstore.dev:443
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Setup Dotnet ${{ env.dotnet }}
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
        with:
          dotnet-version: ${{ env.dotnet }}
      - name: Setup Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        with:
          bun-version-file: ".bun-version"
      - name: Bun install
        run: bun install --frozen-lockfile
      - name: Create Release Pull Request or Prepare release
        id: changesets
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          # outputs versionExists=true if version already exists on nuget
          version: bun run version ${{ env.PackageJson }} ${{ env.Csproj }}
          commitMode: 'github-api'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Can pack?
        id: pack
        if: steps.changesets.outputs.hasChangesets == 'false'
        shell: bash
        run: |
          set -e
          VERSION=$(jq -r '.version' "${{ env.PackageJson }}")
          echo "version=v$VERSION" >> "$GITHUB_OUTPUT"
          AVAILABLE_VERSIONS=$(curl -s "https://api.nuget.org/v3-flatcontainer/${{ env.PackageName }}/index.json" | jq -r '.versions[]')
          if echo "$AVAILABLE_VERSIONS" | grep -q "^$VERSION$"; then
            echo "canPack=false" >> "$GITHUB_OUTPUT"
          else
            echo "canPack=true" >> "$GITHUB_OUTPUT"
          fi
      - name: Dotnet restore
        if: steps.pack.outputs.canPack == 'true'
        run: dotnet restore ${{ env.Project }}
      - name: Dotnet build
        if: steps.pack.outputs.canPack == 'true'
        run: dotnet build ${{ env.Project }} --configuration Release --no-restore
      - name: Pack nupkg
        if: steps.pack.outputs.canPack == 'true'
        run: dotnet pack ${{ env.Project }} -c Release -o ${{ github.workspace }}/artifacts
      - name: Generate nupkg attestation
        if: steps.pack.outputs.canPack == 'true'
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-path: ${{ github.workspace }}/artifacts
      - name: Upload nupkg
        if: steps.pack.outputs.canPack == 'true'
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: nuget
          path: ${{ github.workspace }}/artifacts
          if-no-files-found: error
  release:
    name: Release package
    environment: production
    runs-on: ubuntu-24.04-arm
    if: needs.check-release.outputs.publishable == 'true'
    needs:
      - check-release
      - tests
    permissions:
      contents: write
      id-token: write
    env:
      changelog: src/Serilog.Extensions.Formatting/CHANGELOG.md
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # we use credentials to push tags below
          persist-credentials: true
      - uses: chainguard-dev/actions/setup-gitsign@3e8a2a226fad9e1ecbf2d359b8a7697554a4ac6d # v1.5.10
      - name: Download nupkg
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: nuget
          path: ${{ github.workspace }}/artifacts
          github-token: ${{ github.token }}
      - name: Setup Dotnet ${{ env.dotnet }}
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
        with:
          dotnet-version: ${{ env.dotnet }}
      - name: Publish nupkg
        run: dotnet nuget push ${{ github.workspace }}/artifacts/*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
      - name: Create changelog for release
        id: changelog
        shell: bash
        run: |
          input_file="${{ env.changelog }}"
          output_file="changes.md"
          # Find the line number of the first version heading
          start_line=$(grep -nE '^## [0-9]+\.[0-9]+\.[0-9]' "$input_file" | head -n 1 | cut -d: -f1)

          # Find the line number of the next version heading, if it exists
          end_line=$(grep -nE '^## [0-9]+\.[0-9]+\.[0-9]' "$input_file" | sed -n '2p' | cut -d: -f1)

          if [ -z "$end_line" ]; then
            # If there is no next version, extract till the end of the file
            sed -n "${start_line},\$p" "$input_file" > "$output_file"
          else
            # Extract only the section for the uppermost version
            sed -n "${start_line},$(($end_line-1))p" "$input_file" > "$output_file"
          fi
          echo "changes=$output_file" >> "$GITHUB_OUTPUT"
          prerelease=false
          if [ -f ".changeset/pre.json" ]; then
            prerelease=true
          fi
      - name: Tag release
        run: |
          git tag -s ${{ needs.check-release.outputs.version }} -m "Release ${{ needs.check-release.outputs.version }}"
          git push origin ${{ needs.check-release.outputs.version }}
      - name: Create GitHub release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: |
            ${{ github.workspace }}/artifacts/*.nupkg
            ${{ github.workspace }}/artifacts/*.snupkg
            ${{ env.changelog }}
          body_path: ${{ steps.changelog.outputs.changes }}
          body: Oh no, it looks like the change-notes were not generated correctly by the action.
          draft: false
          prerelease: ${{ steps.changelog.outputs.prerelease == 'true' }}
          generate_release_notes: true
          fail_on_unmatched_files: true
          append_body: true
          tag_name: ${{ needs.check-release.outputs.version }}
          target_commitish: ${{ github.sha }}
